.gradle
.idea/
!.idea/icon*.png
*.iml
build/
src/main/gen
src/main/resources/templates.list
src/main/resources/gitignore/*
src/main/resources/toptal/*
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
