/* Song info box */
.song-info-box {
    -fx-background-radius: 5;
    -fx-background-color: #121111;
    -fx-padding: 25px 20px;
}


/* Reference Button */
.reference-button {
    -fx-background-color: #121111;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-padding: 10px 10px;
}

.reference-button:hover {
    -fx-border-color: white;
}


/* Info Rec */
.rectangle {
    -fx-fill: #232323;
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}

.albumNameTagLabel {
    -fx-text-fill: white;
    -fx-underline: true;
}

.albumNameLabel {
    -fx-text-fill: #C0C0C0;
}

.albumNameBox {
    -fx-spacing: 15;
    -fx-padding: 15 10;
}