/* ROOT */
.root {
    -fx-background-color: #000000;
    -fx-pref-width: 1350px;
    -fx-pref-height: 660px;
    -fx-padding: 10px;
}

.rootSecundary{
    -fx-background-color: #000000;
    -fx-pref-width: 1350px;
    -fx-pref-height: 100px;
}

/* SONG INFO SECTION */
.song-info-pane {
    -fx-pref-width: 337.5px;
    -fx-background-radius: 5;
    -fx-background-color: #121111;
    -fx-padding: 23px 18px;
    -fx-spacing: 20px;
}
.song-info-title-label {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.song-info-song-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 26px;
}

.song-info-artist-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.votes-label {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 32px;
}

.song-info-rectangle {
    -fx-fill: #232323;
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}

.info-rec-box {
    -fx-spacing: 15;
    -fx-padding: 15 10;
}

.info-rec-tag {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-size: 24px;
    -fx-font-family: "Gotham";
}

.info-rec-data {
    -fx-text-fill: #C0C0C0;
    -fx-font-size: 16px;
    -fx-font-family: "Gotham";
}

.reference-button {
    -fx-background-color: #121111;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-padding: 10px 10px;
    -fx-font-family: "Gotham";
    -fx-font-weight: 900;
    -fx-font-size: 16px;
}

.reference-button:hover {
    -fx-border-color: white;
}

.bar-controller-pane {
    -fx-pref-width: 1350px;
    -fx-background-color: #000000;
}

.bar-Controller-rectangle{
    -fx-fill: #000000;
    -fx-alignment: center;
}

.bar-info-rec-box {
    -fx-spacing: 12;
    -fx-alignment: center;
}

.bar-info-rec-box2 {
    -fx-alignment: center;
    -fx-spacing: 10;

}

.bar-info-song-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-max-pref-width:120px;
}
.bar-info-artist-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 11px;
}
.bar-info-progressLabel{
    -fx-font-family:"Gotham";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}


.bar-reference-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.progressBar{
    -fx-pref-height:9.5px;
}
.progressBar .track{
    -fx-background-color: #2C2C2C;
}
.progressBar .bar{
    -fx-background-color: #E3E3E3;
}


