/* ROOT */
.root {
    -fx-background-color: #000000;
    -fx-pref-width: 1350px;
    -fx-pref-height: 660px;
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.rootSecundary{
    -fx-background-color: #000000;
    -fx-pref-width: 1350px;
    -fx-pref-height: 100px;
}

/* SONG INFO SECTION */
.song-info-pane {
    -fx-pref-width: 337,5px;
    -fx-max-height: 670px;
    -fx-background-radius: 5;
    -fx-background-color: #121111;
    -fx-padding: 23px 18px;
    -fx-spacing: 18px;
}
.song-info-title-label {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.song-info-song-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 26px;
}

.song-info-artist-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.votes-label {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 32px;
}

.song-info-rectangle {
    -fx-fill: #232323;
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}

.info-rec-box {
    -fx-spacing: 15;
    -fx-padding: 15 10;
}

.info-rec-tag {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-size: 24px;
    -fx-font-family: "Gotham";
}

.info-rec-data {
    -fx-text-fill: #C0C0C0;
    -fx-font-size: 16px;
    -fx-font-family: "Gotham";
}

.reference-button {
    -fx-background-color: #121111;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-padding: 10px 10px;
    -fx-font-family: "Gotham";
    -fx-font-weight: 900;
    -fx-font-size: 16px;
}

.reference-button:hover {
    -fx-border-color: white;
}

.bar-controller-pane {
    -fx-pref-width: 1350px;
    -fx-background-color: #000000;
}

.bar-Controller-rectangle{
    -fx-fill: #000000;
    -fx-alignment: center;
}

.bar-info-rec-box {
    -fx-spacing: 12;
    -fx-alignment: center;
}

.bar-info-rec-box2 {
    -fx-alignment: center;
    -fx-spacing: 10;

}

.bar-info-song-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-max-pref-width:120px;
}
.bar-info-artist-name {
    -fx-font-family: "Gotham";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 11px;
}
.bar-info-progressLabel{
    -fx-font-family:"Gotham";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}


.bar-reference-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.progressBar{
    -fx-pref-height:9.5px;
}
.progressBar .track{
    -fx-background-color: #2C2C2C;
}
.progressBar .bar{
    -fx-background-color: #E3E3E3;
}


.artist-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 20; /* Ajusta este valor para cambiar el redondeo */
    -fx-border-radius: 20; /* Ajusta este valor para cambiar el redondeo del borde */
}

.artist-button:hover {
    -fx-background-color: rgba(128, 128, 128, 0.5); /* Gris transparente */
}

.song-info2-pane {
    -fx-pref-width: 1100px;
    -fx-background-radius: 5;
    -fx-background-color: #121111;
    -fx-padding: 0px 20px;
}
.song-table-pane{
    -fx-spacing: 10px;
}

.artist-spacing {
    -fx-spacing: 10px;
}

.tab-pane > .tab-header-area {
    visibility: hidden;
}

/* Estilo para todos los ListViews */
.list-view {
    -fx-background-color: #121111; /* Color de fondo del ListView */
}

/* Estilo para los elementos de todos los ListViews */
.list-view .list-cell {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 26px; /* Tamaño de la fuente */
    -fx-padding: 5px; /* Espacio interno */
}

/* Estilo para los elementos al pasar el mouse */
.list-view .list-cell:hover {
    -fx-background-color: rgba(128, 128, 128, 0.3); /* Color de fondo al pasar el mouse */
}

/* Estilo para los elementos seleccionados de todos los ListViews */
.list-view .list-cell:selected {
    -fx-background-color: rgba(128, 128, 128, 0.7); /* Color de fondo seleccionado */
    -fx-text-fill: white; /* Color del texto seleccionado */
}

/* Estilo para el borde redondeado del elemento seleccionado */
.list-view .list-cell:selected .list-cell-background {
    -fx-background-radius: 10px; /* Radio de borde redondeado */
}

